body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
}

#id {
    position: relative;
    flex-grow: 1;
}

.user_div {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #4CAF50;
    border: 2px solid #333;
}

